.contact-details{
    display: flex;
    flex-direction: column;
    width: 300px;
    align-items: flex-start;
    justify-content: center;
    padding: 20px 15px;
    box-shadow: 0px 0px 10px #d5d7d8;
    border-radius: 8px;
}

.contact-details .call-write p{
    margin-top: 16px;
    font-size: 12px;
}

.contact-details .call-write .label{
    display: flex;
    gap: 10px;
    align-items: center;
    font-weight: 600;
}

.contact-details .call-write .label .icon{
    display: inline-block;
    width: 35px;
    height: 35px;
    background-color: #DB4444;
    border-radius: 50%;
    line-height: 40px;
    text-align: center;
}

.contact-details .call-write .label .icon svg{
    color: white;
    font-size: 18px;
}

.contact-details hr{
    width: 100%;
    margin: 18px auto;
    border: 1px solid #7D8184;
}