.widget {
  min-width: 14rem;
  background-color: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.132);
  padding: 32px 20px;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 16px;
}

.widget .widgetInfo p {
  opacity: 0.7;
  font-size: 0.8rem;
}

.widget .widgetInfo h4 {
  font-size: 1.5rem;
}

.widget .widgetInfo span {
  display: flex;
  align-items: center;
  gap: 3.2px;
}
.widget .widget-circle {
  position: relative;
  height: 80px;
  width: 80px;
  border-radius: 50%;
  flex: none;
  display: grid;
  place-items: center;
  background-color: red;
}
.widget .widget-circle::before {
  content: "";
  position: absolute;
  height: 64px;
  width: 64px;
  background-color: white;
  border-radius: 100%;
}
.widget .widget-circle span {
  position: relative;
  font-size: 15px;
}
