.categories {
  width: 100%;
}
.categories li a {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 18px;
}

.categories li a h4 {
  font-weight: 500;
}

@media (max-width: 1024px) {
  .categories li a {
    margin-top: 15px;
  }

  .categories li a h4 {
    font-weight: 500;
  }
}
