.transaction-box {
  max-width: 95%;
}

@media (max-width: 650px) {
  .transaction-box .heading {
    font-size: 18px;
  }
}
@media (max-width: 500px) {
  .transaction-box .heading {
    font-size: 15px;
  }
}
